In [1]:
import pandas as pd
df = pd.read_csv('Taste_Experiment.csv')
df['sample_item_index'] = df['sample_item_index'].map(str)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sample_item_index    720 non-null    object
 1   item_material        720 non-null    object
 2   is_frozen            720 non-null    bool
 3   grill_type           720 non-null    object
 4   thumbs_up_score      720 non-null    float64
 5   guess_grill_correct  720 non-null    bool
dtypes: bool(2), float64(1), object(3)
memory usage: 24.0+ KB

In [3]:
## AGGREGATION OF DATA

In [4]:
df.drop(['guess_grill_correct'],axis=1,inplace=True)
df_grouped = df.groupby(['grill_type','sample_item_index','item_material','is_frozen']).agg({'thumbs_up_score': ['mean']}).reset_index()
df_grouped.columns = [''.join(col) for col in df_grouped.columns.values]

In [5]:
df_grouped

,grill_type,sample_item_index,item_material,is_frozen,thumbs_up_scoremean
0,Charcoal,1,Ground Beef Patty,False,0.175
1,Charcoal,1,Hotdog,False,5.175
2,Charcoal,1,Veggie Patty,False,0.250
3,Charcoal,10,Ground Beef Patty,True,0.200
4,Charcoal,10,Hotdog,True,5.325
...,...,...,...,...,...
175,Propane,8,Hotdog,True,0.700
176,Propane,8,Veggie Patty,True,0.300
177,Propane,9,Ground Beef Patty,False,5.600
178,Propane,9,Hotdog,False,0.675
179,Propane,9,Veggie Patty,False,0.475

In [6]:
# METHOD 1

In [7]:
pivot = df_grouped.pivot_table(index=['sample_item_index'], columns=['is_frozen','item_material','grill_type']).fillna(0)
pivot = pivot.set_index(pivot.index.astype(int)).sort_values(['sample_item_index'])
pivot

                  thumbs_up_scoremean                                        \
is_frozen                       False
item_material       Ground Beef Patty           Hotdog         Veggie Patty
grill_type                   Charcoal Propane Charcoal Propane     Charcoal
sample_item_index
1                               0.175   5.925    5.175   0.650        0.250
2                               0.000   0.000    0.000   0.000        0.000
3                               0.225   5.525    5.075   0.425        0.200
4                               0.000   0.000    0.000   0.000        0.000
5                               0.175   5.200    5.275   0.325        0.150
6                               0.000   0.000    0.000   0.000        0.000
7                               0.225   5.450    5.175   0.325        0.175
8                               0.000   0.000    0.000   0.000        0.000
9                               0.125   5.600    5.175   0.675        0.000
10                              0.000   0.000    0.000   0.000        0.000
11                              0.200   5.625    5.200   0.625        0.025
12                              0.000   0.000    0.000   0.000        0.000
13                              0.150   5.525    5.225   0.650        0.075
14                              0.000   0.000    0.000   0.000        0.000
15                              0.175   5.675    5.175   0.450        0.175
16                              0.000   0.000    0.000   0.000        0.000
17                              0.175   5.450    5.325   0.700        0.250
18                              0.000   0.000    0.000   0.000        0.000
19                              0.325   5.775    5.275   0.475        0.250
20                              0.000   0.000    0.000   0.000        0.000
21                              0.150   5.750    5.125   0.450        0.100
22                              0.000   0.000    0.000   0.000        0.000
23                              0.175   5.725    5.200   0.750        0.150
24                              0.000   0.000    0.000   0.000        0.000
25                              0.225   5.300    5.125   0.725        0.225
26                              0.000   0.000    0.000   0.000        0.000
27                              0.225   5.425    5.275   0.375        0.100
28                              0.000   0.000    0.000   0.000        0.000
29                              0.175   5.625    5.150   0.600        0.175
30                              0.000   0.000    0.000   0.000        0.000

                                                                      \
is_frozen                             True
item_material             Ground Beef Patty           Hotdog
grill_type        Propane          Charcoal Propane Charcoal Propane
sample_item_index
1                   0.550             0.000   0.000    0.000   0.000
2                   0.000             0.175   5.325    5.075   0.650
3                   0.500             0.000   0.000    0.000   0.000
4                   0.000             0.200   5.600    5.250   0.225
5                   0.800             0.000   0.000    0.000   0.000
6                   0.000             0.075   5.625    5.200   0.300
7                   0.500             0.000   0.000    0.000   0.000
8                   0.000             0.175   5.875    5.125   0.700
9                   0.475             0.000   0.000    0.000   0.000
10                  0.000             0.200   5.200    5.325   0.675
11                  0.450             0.000   0.000    0.000   0.000
12                  0.000             0.125   5.600    5.300   0.675
13                  0.525             0.000   0.000    0.000   0.000
14                  0.000             0.175   5.300    5.125   0.650
15                  0.225             0.000   0.000    0.000   0.000
16                  0.000             0.125   5.500    5.275   0.375
17                  0.425             0.000   0.000    0.000   0.000
18                  0.000             0.125   5.825    5.125   0.575
19                  0.325             0.000   0.000    0.000   0.000
20                  0.000             0.150   5.925    5.175   0.325
21                  0.550             0.000   0.000    0.000   0.000
22                  0.000             0.150   5.500    5.150   0.500
23                  0.650             0.000   0.000    0.000   0.000
24                  0.000             0.250   5.875    5.200   0.975
25                  0.550             0.000   0.000    0.000   0.000
26                  0.000             0.175   5.825    5.225   0.775
27                  0.750             0.000   0.000    0.000   0.000
28                  0.000             0.200   5.650    5.200   0.350
29                  0.700             0.000   0.000    0.000   0.000
30                  0.000             0.175   5.400    5.125   0.525


is_frozen
item_material     Veggie Patty
grill_type            Charcoal Propane
sample_item_index
1                        0.000   0.000
2                        0.225   0.475
3                        0.000   0.000
4                        0.075   0.650
5                        0.000   0.000
6                        0.025   0.750
7                        0.000   0.000
8                        0.125   0.300
9                        0.000   0.000
10                       0.250   0.525
11                       0.000   0.000
12                       0.225   0.625
13                       0.000   0.000
14                       0.200   0.375
15                       0.000   0.000
16                       0.150   0.775
17                       0.000   0.000
18                       0.200   0.450
19                       0.000   0.000
20                       0.300   0.550
21                       0.000   0.000
22                       0.200   0.350
23                       0.000   0.000
24                       0.100   0.800
25                       0.000   0.000
26                       0.050   0.575
27                       0.000   0.000
28                       0.125   0.525
29                       0.000   0.000
30                       0.275   0.450

In [8]:
#METHOD 2

In [9]:
frozen = df_grouped[df_grouped['is_frozen'] == True].drop(['is_frozen'],axis=1)
non_frozen = df_grouped[df_grouped['is_frozen'] == False].drop(['is_frozen'],axis=1)

In [10]:
frozen

    grill_type sample_item_index      item_material  thumbs_up_scoremean
3     Charcoal                10  Ground Beef Patty                0.200
4     Charcoal                10             Hotdog                5.325
5     Charcoal                10       Veggie Patty                0.250
9     Charcoal                12  Ground Beef Patty                0.125
10    Charcoal                12             Hotdog                5.300
..         ...               ...                ...                  ...
169    Propane                 6             Hotdog                0.300
170    Propane                 6       Veggie Patty                0.750
174    Propane                 8  Ground Beef Patty                5.875
175    Propane                 8             Hotdog                0.700
176    Propane                 8       Veggie Patty                0.300

[90 rows x 4 columns]

In [11]:
non_frozen

    grill_type sample_item_index      item_material  thumbs_up_scoremean
0     Charcoal                 1  Ground Beef Patty                0.175
1     Charcoal                 1             Hotdog                5.175
2     Charcoal                 1       Veggie Patty                0.250
6     Charcoal                11  Ground Beef Patty                0.200
7     Charcoal                11             Hotdog                5.200
..         ...               ...                ...                  ...
172    Propane                 7             Hotdog                0.325
173    Propane                 7       Veggie Patty                0.500
177    Propane                 9  Ground Beef Patty                5.600
178    Propane                 9             Hotdog                0.675
179    Propane                 9       Veggie Patty                0.475

[90 rows x 4 columns]

In [12]:
#pivoting both the data frames

In [13]:
pivot_frozen = frozen.pivot_table(index=['sample_item_index'], columns=['item_material','grill_type'])
pivot_frozen = pivot_frozen.set_index(pivot_frozen.index.astype(int)).sort_values(['sample_item_index'])
pivot_frozen

                  thumbs_up_scoremean                                        \
item_material       Ground Beef Patty           Hotdog         Veggie Patty
grill_type                   Charcoal Propane Charcoal Propane     Charcoal
sample_item_index
2                               0.175   5.325    5.075   0.650        0.225
4                               0.200   5.600    5.250   0.225        0.075
6                               0.075   5.625    5.200   0.300        0.025
8                               0.175   5.875    5.125   0.700        0.125
10                              0.200   5.200    5.325   0.675        0.250
12                              0.125   5.600    5.300   0.675        0.225
14                              0.175   5.300    5.125   0.650        0.200
16                              0.125   5.500    5.275   0.375        0.150
18                              0.125   5.825    5.125   0.575        0.200
20                              0.150   5.925    5.175   0.325        0.300
22                              0.150   5.500    5.150   0.500        0.200
24                              0.250   5.875    5.200   0.975        0.100
26                              0.175   5.825    5.225   0.775        0.050
28                              0.200   5.650    5.200   0.350        0.125
30                              0.175   5.400    5.125   0.525        0.275


item_material
grill_type        Propane
sample_item_index
2                   0.475
4                   0.650
6                   0.750
8                   0.300
10                  0.525
12                  0.625
14                  0.375
16                  0.775
18                  0.450
20                  0.550
22                  0.350
24                  0.800
26                  0.575
28                  0.525
30                  0.450

In [14]:
pivot_non_frozen = non_frozen.pivot_table(index=['sample_item_index'], columns=['item_material','grill_type'])
pivot_non_frozen = pivot_non_frozen.set_index(pivot_non_frozen.index.astype(int)).sort_values(['sample_item_index'])
pivot_non_frozen

                  thumbs_up_scoremean                                        \
item_material       Ground Beef Patty           Hotdog         Veggie Patty
grill_type                   Charcoal Propane Charcoal Propane     Charcoal
sample_item_index
1                               0.175   5.925    5.175   0.650        0.250
3                               0.225   5.525    5.075   0.425        0.200
5                               0.175   5.200    5.275   0.325        0.150
7                               0.225   5.450    5.175   0.325        0.175
9                               0.125   5.600    5.175   0.675        0.000
11                              0.200   5.625    5.200   0.625        0.025
13                              0.150   5.525    5.225   0.650        0.075
15                              0.175   5.675    5.175   0.450        0.175
17                              0.175   5.450    5.325   0.700        0.250
19                              0.325   5.775    5.275   0.475        0.250
21                              0.150   5.750    5.125   0.450        0.100
23                              0.175   5.725    5.200   0.750        0.150
25                              0.225   5.300    5.125   0.725        0.225
27                              0.225   5.425    5.275   0.375        0.100
29                              0.175   5.625    5.150   0.600        0.175


item_material
grill_type        Propane
sample_item_index
1                   0.550
3                   0.500
5                   0.800
7                   0.500
9                   0.475
11                  0.450
13                  0.525
15                  0.225
17                  0.425
19                  0.325
21                  0.550
23                  0.650
25                  0.550
27                  0.750
29                  0.700